<h1 id="scegratoo">SceGraToo</h1>

<p>This Project is part of my bachelor thesis.</p>

<h2 id="goal">Goal</h2>

<h3 id="building-a-web-based-3d-composition-tool">Building a web based 3D composition tool.</h3>

<p>Build a web based 3D scene composition tool for the Project <code>Roundtrip3D</code> using current web technologies.
The Tool should provide following views and features</p>

<ul>
<li>A 3D View to visualize and edit 3D scenes in the X3DOM format</li>
<li>A tree view to outline and edit 3D scenes in the X3DOM format</li>
<li>A text view to edit JavaScript code</li>
<li>A diagram view for SSIML (<code>Scene Structure and Integration Modelling Language</code>) models</li>
<li>optional feature: launch transformation (transforming SSIML to X3DOM and JavaScript and the other way around) jobs on another machine running an eclipse instance</li>
</ul>

<p>Requirements: model driven software engineering, web development, JavaScript programming, 3D modeling</p>

<h2 id="stack">Stack</h2>

<p>The stack used for building this is <a href="https://github.com/paulmillr/brunch-with-chaplin">brunch with chaplin</a>.</p>

<h3 id="brunch">Brunch</h3>

<blockquote>
  <p><a href="http://brunch.io/">Brunch</a> is an assembler for HTML5 applications. It‘s agnostic to frameworks, libraries, programming, stylesheet &amp; templating languages and backend technology.</p>
</blockquote>

<p>For this project <a href="http://coffeescript.org/">CoffeeScript</a>, <a href="http://learnboost.github.com/stylus/">Stylus</a> and <a href="http://handlebarsjs.com/">Handlbars.js</a> are used.</p>

<h3 id="chaplin">Chaplin</h3>

<blockquote>
  <p><a href="http://documentcloud.github.com/backbone/">Chaplin</a> is an architecture for JavaScript applications using the <a href="http://documentcloud.github.com/backbone/">Backbone.js</a> library. The code is derived from <a href="http://moviepilot.com/">moviepilot.com</a>, a large single-page application.</p>
</blockquote>

<h2 id="license">License</h2>

<p>The MIT license.</p>

<p>Copyright (c) 2012 Danny Arnold (danny.arnold@student.tu-freiberg.de)</p>

<p>Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
of the Software, and to permit persons to whom the Software is furnished to do
so, subject to the following conditions:</p>

<p>The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.</p>

<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.</p>
