<header class="container header-container"></header>

<div class="container outer-container">
  <div class="page-container">
    <div class="sidebar-container">
    </div>
    <div class="main-container">
    </div>
    <div class="fl_clear">
    </div>
  </div>
</div>
