<header class="container header-container" id="header-container"></header>

<div class="container outer-container">
  <div class="page-container" id="page-container">
    <div class="sidebar-container" id="sidebar-container">
    </div>
    <div class="main-container" id="main-container">
    </div>
    <div class="fl_clear">
    </div>
  </div>
</div>
