<div id='floating-menu-container'>
  <div id='floating-menu'>
    <label for="trans-x">X:</label>
    <input type="range" id="trans-x" class="sidebar-inputs" min='-100' max='100' value='{{floatingMenuObject.translation.x}}'/><br>
    <label for="trans-y">Y:</label>
    <input type="range" id="trans-y" class="sidebar-inputs" min='-100' max='100' value='{{floatingMenuObject.translation.y}}'/><br>
    <label for="trans-z">Z:</label>
    <input type="range" id="trans-z" class="sidebar-inputs" min='-100' max='100' value='{{floatingMenuObject.translation.z}}'/>
  </div>
</div>
<X3D class="x3d" id="x3d" xmlns="http://www.web3d.org/specifications/x3d-namespace" debug="true" showStat="false" showLog="false">
  <Scene id="the_scene" DEF="scene">
    <Viewpoint position="0 0 100" orientation="0 0 0 1"></Viewpoint>
    <Group id="root">
      <!-- Dynamically added Stuff -->
    </Group>
  </Scene>
</X3D>
