@import 'nib'

.header
  padding: 10px
  margin 0px 5px
  border-bottom-right-radius: 5px
  border-bottom-left-radius: 5px
  background-color dimgrey

  &-link
    margin-right: 32px
    text-decoration: none
    color: #eee

    &:visited
      color: #eee

    &:hover
      text-decoration: underline

    &:last-child
      margin-right: 0
