@import 'nib'
@import 'constants'

.outer-container
  z-index 1
  position absolute
  bottom 0
  top header-height + 0.5

  background #737373

.page-container
  min-width 960px
  width 95%
  margin 0 auto
  min-height 100px
  height 100%
  padding-bottom 10px

  background #737373

.page-container .sidebar-container
  float left
  min-height 90px
  height 100%
  padding 0
  width 350px
  margin 0

  background gray

.page-container .main-container
  min-height 90px
  height 100%
  padding 0
  margin 0 0 0 355px

  background gray

.fl_clear
  clear both
